.page-numbers {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 26px;
  background: $brand-primary;
  border:2px solid $brand-primary;;
  color:#fff;
  font-size: 17px;
  text-align: center;
  margin:2px;
  &.current {
    color:$brand-primary;
    background: #fff;
  }
  &.prev, &.next {
    width: auto;
    padding:0px 10px;
  }
}
