.premium-featured {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.premium-catalogo {
  position: relative;
  text-align: center;
}

.premium-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.premium-logo {
  max-height: 100%;
  object-fit: cover;
}

.premium-wrapper {
  position: relative;
  background: rgba($brand-primary, 0.2);
  border-radius: 10px;
  padding: 24px 16px;
  overflow: hidden;
}

.premium-stamp {
  position: absolute;
  top: 6px;
  right: -40px;
  width: 150px;
  background: $premium;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 8px;
  font-size: 13px;
  color: $black;
  transform: rotate(37deg);
  padding-top: 8px;
  line-height: 1.1;
  text-transform: uppercase;
}

.premium-page {
  overflow: hidden;

  .premium-stamp {
    top: 13px;
    right: -35px;
    width: 150px;
    transform: rotate(43deg);
  }
}
