$breakpoints: (
    "phone":              400px,
    "phone-landscape":    480px,
    "tablet":             768px,
    "tablet-landscape":   1024px,
    "desktop":            1280px,
);
@mixin media($width, $type: max) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
    }
    @media only screen and (#{$type}-width: $width) {
        @content;
    }
}
