.woocommerce {
  .button,
  a.button,
  button.button,
  input.button
  .actions .button,
  .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
  a.button.alt {
    @extend .btn;
    &:hover {
      color: #fff;
    }
  }
  .wc-proceed-to-checkout a.checkout-button {
    line-height: 50px;
    &:hover {
      background-color: rgba($brand-primary, 0.5);
    }
  }
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    border-top-color: $brand-primary;
  }
  .shop_table {
    .quantity {
      .text {
        @extend input[type=text];
      }
    }
  }
  &.single-product {
    .product {
      .entry-title {
        text-transform: uppercase;
        font-size: 35px;
        margin-bottom: 20px;
        position: relative;
        margin-bottom: 40px;
        @include media(768px) {
          font-size: 25px;
        }
        &:after {
          display: block;
          position: absolute;
          content:" ";
          bottom:-17px;
          left: 0px;
          width: 51px;
          height: 5px;
          background-color: #675A5E;
        }
      }
      .WooZone-price-info {
        display: none;
      }
      .quantity {
        .input-text {
          @extend input[type=text];
        }
      }
      .single_add_to_cart_button {
        border: 0px;
        border-radius: 0px;
        background-color: $brand-primary;
        color: #fff;
        font-size: 21px;
        font-weight: bold;
        font-family: "Roboto Condensed";
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        padding:0px 12px;
        line-height: 40px;
        text-align: center;
        &:hover {
          background-color: $brand-primary;
          opacity: 0.8;
        }
        &.disabled {
          background-color: #ccc;
          opacity: 0.5;
          &:hover {
            background-color: #ccc;
            opacity: 0.5;
          }
        }
      }
      .WooZone-country-check {
        margin-bottom: 10px;
      }
      .price {
        font-size: 40px;
        text-align: right;
      }
      .variations {
        tr {
          td {
            padding: 10px 0px;
          }
        }
      }
      .woocommerce-tabs {
        ul.tabs {
          li {
            border-radius: 0px;
            border-color: $brand-primary;
            background-color: rgba($brand-primary, 0.2);
            margin: 0;
            &:before,
            &:after {
              display: none;
            }
            a {
              font-weight: 400;
              text-transform: uppercase;
            }
          }
        }
      }
      .related.products {
        h2 {
          margin-bottom: 30px;
        }
        .product__list {
          @extend .product__list;
        }
      }
    }
  }
  .woocommerce-products-header__title {
    @extend .title;
    @extend .tit-sep;
  }
  .results-orders {
    display: flex;
    justify-content: space-between;
  }
  nav.woocommerce-pagination {
    ul {
      width: auto;
      &.page-numbers {
        background: transparent;
        border: 0px;
      }
      li {
        float: none;
        a, span {
          padding: 5px 10px;
          &:hover,
          &:focus,
          &.current {
            background: $brand-primary;
            color: #fff;
            opacity: 0.8;
          }
        }
      }
    }
  }
  .product__list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: -15px;
    margin-right: -15px;
    .product {
      position: relative;
      margin-bottom:50px;
      flex: 0 0 25%;
      max-width: 25%;
      padding-left:15px;
      padding-right: 15px;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      .woocommerce-loop-product__title {
        font-size: 18px;
        text-transform: uppercase;
      }
      .price {
        font-size: 25px;
        display: block;
        text-align: right;
        .WooZone-free-shipping {
          display: block;
          font-size: 13px;
        }
      }
      .link {
        display: none; //amazon help
      }
      .attachment-shop_catalog {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
      }
      .add_to_cart_button, .added_to_cart {
        display: block;
        margin-top: 15px;
        @extend .btn;
      }
    }
  }

}
